.m-top{
    z-index: 1000;
    height: 70px;
    background-position: 0 -80px;
    background-repeat: repeat-x;
}

.m-top .wrap{
    width: 100%;
    margin: 0 auto;
}

.m-top .wrap .m-radio-in{
    float: left;
    width: 10%;
}

.m-top .wrap .m-search{
    float: left;
    width: 70%;
}

.m-top .wrap .m-listen{
    float: left;
    width: 10%;
}