.m-top{
    z-index: 1000;
    height: 40px;
    width: 100%;
    background: 0 -80px repeat-x;
}

.m-top .wrap{
    height: 35px;
    width: 100%;
    margin: 0 auto;
}

.m-top .wrap .m-radio-in{
    float: left;
    width: 10%;
    height: 30px;
    margin-left: 10px;
}

.m-top .wrap .m-search{
    float: left;
    width: 70%;
    height: 30px;
    margin-left: 10px;
}

.m-top .wrap .m-listen{
    float: left;
    width: 10%;
    height: 30px;
    margin-left: 10px;
}